:root {
    --text: #040316;
    --background: #fbfbfe;
    --primary: #0bf45d;
    --secondary: #038c3e;
    --accent: #02745f;
    --linearPrimarySecondary: linear-gradient(#0bf45d, #038c3e);
    --linearPrimaryAccent: linear-gradient(#0bf45d, #02745f);
    --linearSecondaryAccent: linear-gradient(#038c3e, #02745f);
    --radialPrimarySecondary: radial-gradient(#0bf45d, #038c3e);
    --radialPrimaryAccent: radial-gradient(#0bf45d, #02745f);
    --radialSecondaryAccent: radial-gradient(#038c3e, #02745f);
    --fullWidth : 350px;
    --fullHeight : 400px;

}

.header-logo-container {
    width: var(--fullWidth);
    height: 100px;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.api-key-section-container{
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}