:root {
    --text: #040316;
    --background: #fbfbfe;
    --primary: #0bf45d;
    --secondary: #038c3e;
    --accent: #02745f;
    --linearPrimarySecondary: linear-gradient(#0bf45d, #038c3e);
    --linearPrimaryAccent: linear-gradient(#0bf45d, #02745f);
    --linearSecondaryAccent: linear-gradient(#038c3e, #02745f);
    --radialPrimarySecondary: radial-gradient(#0bf45d, #038c3e);
    --radialPrimaryAccent: radial-gradient(#0bf45d, #02745f);
    --radialSecondaryAccent: radial-gradient(#038c3e, #02745f);
    --fullWidth : 350px;
    --fullHeight : 400px;
}

footer {
    background-color: var(--secondary); /* Using the primary color variable for background */
    color: var(--background); /* Using the background color variable for text */
    text-align: center; /* Center-align the text */
    font-family: 'Poppins', sans-serif; /* Consistency with the rest of the page */
    border-top: 2px solid var(--secondary); /* A top border for visual separation */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer a {
    color: var(--background); /* Ensuring links are visible against the footer background */
    text-decoration: none; /* No underline for a clean look */
    margin: 0 15px;
}

footer a:hover {
    text-decoration: underline; /* Underline on hover for visual feedback */
}

