:root {
    --text: #040316;
    --background: #fbfbfe;
    --primary: #0bf45d;
    --secondary: #038c3e;
    --accent: #02745f;
    --linearPrimarySecondary: linear-gradient(#0bf45d, #038c3e);
    --linearPrimaryAccent: linear-gradient(#0bf45d, #02745f);
    --linearSecondaryAccent: linear-gradient(#038c3e, #02745f);
    --radialPrimarySecondary: radial-gradient(#0bf45d, #038c3e);
    --radialPrimaryAccent: radial-gradient(#0bf45d, #02745f);
    --radialSecondaryAccent: radial-gradient(#038c3e, #02745f);
    --fullWidth : 350px;
    --fullHeight : 400px;
}

.navigation-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: var(--accent);
    padding: 4px;
}

.navigation-bar div {
    width: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 8px;
    border-style: solid;
    border-width: 0 0 2px 0;
    transition: 0.1s ease-in-out;
    border-color: var(--primary);
}

.navigation-bar div:hover {
    border-width: 0 0 4px 0;
    padding-bottom: 6px;
}

.navigation-bar .curr-page {
    border-width: 0 0 4px 0;
    padding-bottom: 6px;
}
